body {
    background-color: rgb(251, 251, 185);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.invite-card {
    width: 35%;
    margin: 120px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 25px rgb(238, 238, 63, 0.6);
    background-image: url('bgimg.png');
    background-size: cover;
    background-position: center;
    padding: 40px 30px;
    text-align: center;
    color: white;
}

.invite-content {
    padding: 20px;
}

h1 {
    margin: 0;
}

h3 {
    margin-top: 20px;
    font-weight: 500;
    color: #ffcc00;
}

footer {
    margin-top: 30px;
}

a{
    color: #ffcc00;
    text-decoration: none;
}
